{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}
    {% endblock css %}
    <title>Ganymedes</title>
</head>

<body>
    <div class="appWrapper">
        <header class="header">
            <div class="header__body">
                <div class="headerLogo__container">
                    <a href="{% url 'home'%}">
                        <img class="header__logo" src="{% static 'images/ganymedes-logo.svg' %}" alt='logo' />
                    </a>
                    <span class="header__logo-text">anymedes</span>
                </div>
                {% if user.is_authenticated %}
                <div>
                    <!-- <button type='button' > -->
                    <a href="{% url 'logout_user_url'%}?next={{ request.path|urlencode }}">
                        <img class="header__buttonImg" src="{% static 'images/power-button.svg' %}"
                            alt='power button' />
                    </a>
                    <!--</button>-->
                </div>
                {% else %}
                <div>
                    <form action="{% url 'login_user_url'%}" method="POST">
                        {% csrf_token %}
                        <label>Username</label>
                        <input type="text" name="username">
                        <label>Password</label>
                        <input type="password" name="password">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input type="submit" value="Login">
                    </form>
                </div>
                {% endif %}
            </div>
        </header>
        <nav class="nav">
            <ul class="nav__list">
                {% if user.is_staff %}
                <li class="nav__item">
                    <div class="sidebarItem">
                        <a class="sidebarItem__link" href="{% url 'admin:index'%}">Admin bar</a>
                        <a href="{% url 'admin:index'%}"><img class="sidebarItem__image"
                                src="{% static 'images/sidebarProfile.svg' %}" alt='icon' /></a>
                    </div>
                </li>
                {% endif %}
                {% if request.user|has_group:"author" %}
                <li class="nav__item">
                    <div class="sidebarItem">
                        <a class="sidebarItem__link" href="{% url 'article_new' %}">Přidat článek</a>
                        <a href="{% url 'article_new' %}"><img class="sidebarItem__image" src="{% static 'images/sidebarNews.svg' %}"
                                alt='icon' /></a>
                    </div>
                </li>
                <li class="nav__item">
                    <div class="sidebarItem">
                        <a class="sidebarItem__link" href="{% url 'articles_my' %}">Moje články</a>
                        <a href="{% url 'articles_my' %}"><img class="sidebarItem__image" src="{% static 'images/sidebarDialogs.svg' %}"
                                alt='icon' /></a>
                    </div>
                </li>
                {% endif %}
                {% if request.user|has_group:"editor" %}
                <li class="nav__item">
                    <div class="sidebarItem">
                        <a class="sidebarItem__link" href="{% url 'magazines' %}"><span>Nepublikované</span> časopisy</a>
                        <a href="{% url 'magazines' %}"><img class="sidebarItem__image" src="{% static 'images/sidebarMagazines.svg' %}"
                                                           alt='icon' /></a>
                    </div>
                </li>
                <li class="nav__item">
                    <div class="sidebarItem">
                        <a class="sidebarItem__link" href="{% url 'reviewed' %}">Recenzováné články</a>
                        <a href="{% url 'reviewed' %}"><img class="sidebarItem__image" src="{% static 'images/sidebarNews.svg' %}"
                                alt='icon' /></a>
                    </div>
                </li>
                <li class="nav__item">
                    <div class="sidebarItem">
                        <a class="sidebarItem__link" href="{% url 'pending' %}">Články čekající na review</a>
                        <a href="{% url 'pending' %}"><img class="sidebarItem__image" src="{% static 'images/sidebarDialogs.svg' %}"
                                alt='icon' /></a>
                    </div>
                </li>
                {% endif %}
                <li class="nav__item">
                    <div class="sidebarItem">
                        <a class="sidebarItem__link" href="{% url 'helpdesk' %}">Help desk</a>
                        <a href="{% url 'helpdesk' %}"><img class="sidebarItem__image" src="{% static 'images/sidebarSettings.svg' %}"
                                alt='icon' /></a>
                    </div>
                </li>
            </ul>
        </nav>
        {% block content %}
        {% endblock content %}

        <footer class="footer">
            <span class="name">Elektronický časopis by Team Ganymedes</span>
            <hr style="width: 90%" />
            <div class="iconContainer">
                <a href="https://github.com/katyaSkorobogatova/ganymedes-logos-polytechnikos" target="__blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </div>
        </footer>
    </div>

    {% block javascript %}
    {% endblock javascript %}
</body>

</html>
