{% extends "base.html" %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/helpdesk.css' %}">

{% endblock %}

{% block content %}
<main class="main">
    <section class="main__newsContainer">
        <div class="main__article">
            <div class="main__articleTitleWrapper">
                <span class="main__articleTitle">Help desk</span>
            </div>
            <div class="main__articleText">
                <b>Admin:</b>
                <br />
                Má přístup k Admin Baru, pomoci kterého může působit na databázi a delat jakekoliv změny.
                <br />
                <b>Nepřihlášený uživatel schopen:</b>
                <br />
                Zobrazit publikované časopisy, když přejde do zvoleného časopisu, zobrazí se mu seznam všech článků, které jsou v daném časopise.
                Když přejdete na konkrétní článek, bude na stránce i recenze k článku.
                <br />
                <b>Přihlášený Autor má 2 další tlačítka:</b>
                <br />
                1. První tlačítko - přidat článek, stranka přesměruje uživatele do formuláře s názvem a textem pro vytvoření nového článku.
                Pak uživatel umístí jej do svých článků.
                <br />
                2. Druhé tlačítko – moje články, tam jsou uložená veškerá provedená práce.
                Článek může autor přečíst, upravit, odstranit nebo poslat k oponentovi. Všechny články, které nejsou ve stavu šablony, nelze upravovat.
                Když je práce recenzována, nelze ji upravovat ani odstranit. Nicmeně autor může změnit stav svého díla.
                <br />
                <b>Editor:</b>
                <br />
                V nabídce bude editor se všemi články, které jsou ve stavu recenzováné a čekají na recenze.
                Editor dokáže vyhledat chyby a upravit článek, uplně odstranit nebo poslat zpět autorovi, čímž dá mu najevo, že je třeba práci předělat.
                Kromě toho, editor má možnost zvolit oponenta pro čekající na recenze články. Recenzováné články může přídat do nepublikovaných časopisů.
                Navíc, editor má možnost změnit stav časopisů z nepublikovaných na publikované a tím pádem zveřejnit tyto časopisy.
                <br />
                <b>Oponent: (in progress)</b>
                <br />
                Poté se tento článek objeví u oponenta k posouzení (může dát komentář a hodnotit podle různých parametrů v číselné hodnotě od nuly do pěti, komentáře v textovém formátu).
                Po uložení šablony dojde ke změně stavu editora, po práci již Editor přiřadí článek k časopisu.
            </div>
        </div>
    </section>
</main>
{% endblock %}
